<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{admin/dashboardLayout.html}" >
    <head>
    </head>

    <body>             
        <section class="row" layout:fragment="content">
            <div class="col-6 offset-3 mt-4">
                <form th:action="@{/admin/accounts/saveOrUpdate}" method="post" th:object="${account}">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center" th:text="${account.is_edit ?'Change Password' : 'Add New Account'}"></h2>
                        </div>
                        <div class="card-body">
                            <input type="hidden">
                            <div class="form-group">
                              <label for="username">Username</label>
                              <input type="text" class="form-control" th:field="*{username}" name="username" id="username" 
                              aria-describedby="username_Hid" placeholder="Username">
                              <small id="username_Hid" th:if="${#fields.hasErrors('username')}"
                              class="form-text text-muted">Username is invalid</small>
                            </div>
                            <div class="form-group">
                              <label for="password">Password</label>
                              <input type="password" class="form-control" th:field="*{password}" name="password" id="password" 
                              aria-describedby="password_Hid" placeholder="Password">
                              <small id="password_Hid" th:if="${#fields.hasErrors('password')}"
                              class="form-text text-muted">Password is invalid</small>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <button type="reset" class="btn btn-secondary">Reset</button>
                            <a th:href="@{/admin/accounts}" class="btn btn-success">List Accounts</a>
                            <button class="btn btn-primary" th:text="${account.is_edit ?'Update Account' : 'Save Account'}"><i class="fas fa-save"></i> 
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>